<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav flex-column">
         <li class="nav item"><a [routerLink]="['/routingFeaturesEntryPointhome']">Home</a></li>
         <li class="nav item"><a [routerLink]="['/routingFeaturesEntryPointusers']">Users</a></li>
         <li class="nav item"><a [routerLink]="['/routingFeaturesEntryPointcategories']">Categories</a></li>

       
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
   <router-outlet></router-outlet>
        </div>
    </div>
</div>