<h3>Users Componenet</h3>



<p>Property and Event Binding</p>
<!-- Propert Binding in the Button [disabled]=true/false with allowNewUser Varible-->
<button class="btn btn-primary" 
[disabled]="!allowNewUser"

(click)=" changeUserCreatedStatusChange()" > Add user</button>
<!-- Importing the User Component as HTML Elememt in the Users Componenet -->

<!-- Rendering allowNewUser variable by String Interpolation -->
<div>{{this.allowNewUser}}</div>

<!-- Rendering allowNewUser variable by Property Binding  -->
<div [innerText] = "allowNewUser"></div>

<!-- Event binding -->
<!-- After Event Click The Status Will Change -->
{{userCreatedStatus}}





<!-- Send Data from the Event Binding using $event Reserved word -->
<!-- Note:- For Evey Event Change the Angular Sends special variable called "$event" which has the event triggered by the User -->
<div class="my-2">
    <label for="userName"> User Name</label>
    <input type="text" class="form-control" (input)="onAddofUser($event)">
</div>
<div>User Name: {{userName}}</div>
<!-- <button class="btn btn-primary" 
[disabled]="!allowNewUser"

(click)=" changeUserCreatedStatusChange()" > Add user</button> -->


<app-user></app-user>





