<h3>Users Componenet</h3>

<h4>String Interpolation </h4>
<!-- String Interpolation Coonvert the number datatype to the String  -->
<!-- Differnt type String Interpolation  -->


<!-- String Interpolation Using Direct string Double quotes -->
<p>String Interpolation Using Direct string Double quotes</p>
<p>{{"User"}} {{"userId"}} is currently {{"userStatus"}}</p>

<!-- String Interpolation Using variables from component.ts  -->
<p> String Interpolation Using variables from component.ts </p>
<p>{{user}} {{userId}} is currently {{userStatus}}</p>

<!-- String Interpolation Using variables from component.ts  -->
<p> String Interpolation Using functiion which return the string/number from component.ts </p>
<p>{{user}} of  {{123}} UserID is currently {{getUserStatus()}}</p>



<p style="font-weight: bold;">Styling Dynamically for the component Tempaltes using ngStyle  </p>


<div class="my-2" [ngStyle]="{'background-color': getColor()}">
{{user}} of  {{123}} UserID is currently {{getUserStatus()}}
</div>



<p style="font-weight: bold;">Styling Dynamically for the component Tempaltes ngClass  </p>


<div class="my-2" [ngClass]="{Offline:userStatus =='Offline'}">
{{user}} of  {{123}} UserID is currently {{getUserStatus()}}
</div>


<br><br>//////////////////////////////////////////////////////////////<br><br><br>


<h2>Property and Event Binding</h2>
<!-- Propert Binding in the Button [disabled]=true/false with allowNewUser Varible-->
<button class="btn btn-primary" 
[disabled]="!allowNewUser"

(click)=" changeUserCreatedStatusChange()" > Add user</button>
<!-- Importing the User Component as HTML Elememt in the Users Componenet -->

<!-- Rendering allowNewUser variable by String Interpolation -->
<div>{{this.allowNewUser}}</div>

<!-- Rendering allowNewUser variable by Property Binding  -->
<div [innerText] = "allowNewUser"></div>

<!-- Event binding -->
<!-- After Event Click The Status Will Change -->


{{userCreatedStatus}}
<div *ngIf="isUserCreated" >User is Created and the Username is {{userNameForOneWay}}</div>

<br><br>//////////////////////////////////////////////////////////////<br><br><br>




<h4>One way Binding in the Form</h4>
<!-- Send Data from the Event Binding using $event Reserved word -->
<!-- Note:- For Evey Event Change the Angular Sends special variable called "$event" which has the event triggered by the User -->
<div class="my-2">
    <label for="userNameForOneWay"> User Name</label>
    <input type="text" class="form-control" (input)="onAddofUser($event)">
</div>
<div>User Name: {{userNameForOneWay}}</div><br>
 <button class="btn btn-primary" 
[disabled]="!allowNewUser"

(click)=" changeUserCreatedStatusChange()" > Add user</button> <br>

{{userCreatedStatus}}


<h2>Structural Directive</h2>
<!-- *ngif is a Structural Directive(It Chnages the Structure of the DOM) -->
<!-- Structural DOM is reffered to the ngif is because it chnages the Structure of teh DOM -->
<!-- This is the Normal way attaing the ngif/else process  -->
<p>This is the Normal way attaing the ngif process </p>
<div *ngIf="isUserCreated" >User is Created and the Username is {{userNameForOneWay}}</div>
<div *ngIf="!isUserCreated" >No User is Created</div>

<br>
<p>This is Other method for the ngif Process </p>
<div *ngIf="isUserCreated; else noUser "  >User is Created and the Username is {{userNameForOneWay}}</div>
<ng-template #noUser>
<div *ngIf="!isUserCreated" >No User is Created</div>

</ng-template>




<br><br>//////////////////////////////////////////////////////////////<br><br><br>



<h4>Two way  Binding in the Form </h4>
<!-- Send Data from the  HTML Component to TS Component(Vica-Versa)  -->
<!-- Note:- If we need to Wrok with Forms Module then we  need to   import the FormsModule in the  respective  -->

<div class="my-2">
    <label for="userNameForOneWay"> User Name</label>
    <input type="text" class="form-control" [(ngModel)]="userNameForTwoWay">
</div>
<div>User Name: {{userNameForTwoWay}}</div>
<!-- <button class="btn btn-primary" 
[disabled]="!allowNewUser"

(click)=" changeUserCreatedStatusChange()" > Add user</button> -->




<br><br>//////////////////////////////////////////////////////////////<br><br><br>



<h4>ngFor demo </h4>
<div *ngFor="let user of users" >
    <p>{{user}} of  {{123}} UserID is currently {{getUserStatus()}}</p>
</div>






<!-- Imprting User Component in the Users in the User Compoenent for Parent- child Component Data Traansfer-->
<div>Imprting User Component in the Users in the User Compoenent for Parent- child Component Data Transfer</div><br>
<div>Imprting User Component in the Users in the User Compoenent for Child- Parent Component Data Transfer</div>

<app-add-user (userAdded)="onUserAdded($event)"></app-add-user>

<h3>Users List</h3>
<div *ngFor="let user of users" >
        <button class="btn btn-primary" (click)="changeName()" > Change name </button>
        <button class="btn btn-danger" (click)="onDeleteComponent()" > Destroy User </button>

<app-user [user]=user [name]="nameforngonChnages">
<!-- <div>Inserting the Data in the Compoennt Element using ng-Content</div> -->

</app-user>

</div>



