<div class="container">
    <div class="row">
        <div class="col-lg-12">
         <h3> Hi {{name}} </h3>
            <!-- Integrating the Users Component in the Appcompoenent -->
            <!-- <app-users></app-users> -->

            <!-- Integrating the Users Component in the Appcompoenent as 'app-users as a attribute' this works as same as the <app-users></app-users> -->
            <!-- <div  app-users></div >  -->
         <!-- Integrating the Users Component in the Appcompoenent as 'app-users as a Class' this works as same as the <app-users></app-users> and  <div  app-users></div >  -->
            <!-- <div class="app-users"></div >  -->
             <app-users></app-users> 
        </div>
    </div>
</div>